body {
	background-color: white;
	color: #000099;
	font-family: "Arial", "Helvetica", "San-Serif";
}

a {
	background-color: #CCCCCC;
}

h1 {
	font-family: "Times New Roman";
	color: red;
}